<table>
  <tr>
    <th>Name</th>

    <th>Languages</th>
  </tr>
  <tr>
    <td>Bilbo Baggins</td>

    <td>
      <label for="items">Bilbo's Items:</label>

      <select name="items" id="languages">
        <option value="sword">Sting</option>
        <option value="armor">Mithril Armor</option>
        <option value="ring">The One Ring</option>
      </select>
    </td>
    <td>
      <button>
        <a href="/add_item_to_character">Add Item</a>
      </button>
    </td>
  </tr>
  <tr>
    <td>Frodoo Baggins</td>

    <td>
      <label for="items">Frodo's Items:</label>

      <select name="items" id="items">
        <option value="sword">Sting</option>
        <option value="armor">Mithril</option>
        <option value="ring">The One Ring</option>
      </select>
    </td>
    <td>
      <button>
        <a href="/add_item_to_character">Add Item</a>
      </button>
    </td>
  </tr>
</table>
<br />