<table>
    <tr>
      <th>Name</th>

      <th>Languages</th>
    </tr>
    <tr>
      <td>Bilbo Baggins</td>

      <td> 
        <label for="languages">Bilbo's Languages:</label>

        <select name="languages" id="languages">
          <option value="Elvish">Elvish</option>
          <option value="Westron">Westron</option>
          <option value="Sylvan Elvish">Sylvan Elvish</option>
        </select> </td>
        <td>
          <button>
            <a href="/add_character_language">
              Add Language
            </a>
          </button>
        </td>
        <td>
          <button>
            <a href="/delete_character_language">
              Add Item
            </a>
          </button>
        </td>
    </tr>
    <tr>
        <td>Frodoo Baggins</td>

        <td> 
            <label for="languages">Frodo's Languages:</label>
    
            <select name="languages" id="languages">
              <option value="Elvish">Elvish</option>
              <option value="Westron">Westron</option>
              <option value="Sylvan Elvish">Sylvan Elvish</option>
            </select> </td>
      </tr>
  </table> 
  <br/>