  <table>
    <tr>
      <th>Language</th>
  
      <th>Language Rule</th>
      <th>Add Language Rule</th>
      <th>Delete Language or Language Rule</th>
    </tr>
    <tr>
      <td>Elvish</td>
  
      <td>
        Replace every ${num letters} with ${letter}
      </td>

      <td>
        <button>
          <a href="/add_language_rule_to_language.html">
            Add Language Rule
          </a>
        </button>
      </td>
      <td>
        <button>
          <a href="/delete_language_rule.html">
            Delete Language Rule
          </a>
        </button>
        <button>
          <a href="/delete_language.html">
            Delete Language
          </a>
        </button>
      </td>
    </tr>
  
  </table>
  <br />