<table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td>Change a to e</td>
      <td>Change all occurences of the letter a to a letter e</td>
      <td><button><a href="/update_language_rules.html">Edit Language</a></button></td>
      <td><button><a href="/delete_language_rules.html">Delete Language</a></button></td>
    </tr>
  </table> 
  <br/>
  <button>
    <a href="/add_language_rules.html">
        Add Language Rule
    </a>
    
  </button>
  <button>
    <a href="/">
      Back to list
    </a>
  </button>