<table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Game</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td>English</td>
      <td>The language that rifles your pockets for spare vocabulary and grammar</td>
      <td>Fun first game!</td>
      <td><button><a href="/update_language.html">Edit Language</a></button></td>
      <td><button><a href="/delete_language.html">Delete Language</a></button></td>
    </tr>
  </table> 
  <br/>
  <button>
    <a href="/add_language.html">
        Add Language
    </a>
    
  </button>
  <button>
    <a href="/display_games.html">
      Back to Games
    </a>
  </button>