<table>
    <tr>
      <th>Original Word</th>
      <th>Translation</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td>${Some input coming from the TranslationInputs table}</td>
      <td>${Some output coming from the selected algorithm used to translate}</td>
      <!--Translations cannot be edited, merely deleted-->>
      <td><button><a href="/delete_translation.html">Delete Translation</a></button> Deleting does not change the way the word is translated</td>
    </tr>
  </table> 
  <br/>
  <button>
    <a href="/add_translation.html">
        Translate New Word
    </a>
  </button>
</table>