<table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Country</th>
      <th>Player</th>
      <th>Game</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td>Bilbo Baggins</td>
      <td>A reluctant hero who prefers to eat and sleep over adventuring, until adventuring takes his soul.</td>
      <td>The Shire</td>
      <td>JRR Tolkien</td>
      <td>Fun first game!</td>
      <td><button><a href="/update_character.html">Edit Character</a></button></td>
      <td><button><a href="/delete_character.html">Delete Character</a></button></td>
    </tr>
  </table> 
  <br/>
  <button>
    <a href="/add_character.html">
        Add Character
    </a>
    
  </button>