<table>
    <tr>
      <th>Name</th>
      <th>Size In Kilometers</th>
      <th>Population</th>
      <th>Game</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td>USA</td>
      <td>9,800,8000 km</td>
      <td>330,000,000</td>
      <td>Fun first game!</td>
      <td><button><a href="/update_country.html">Edit Country</a></button></td>
      <td><button><a href="/delete_country.html">Delete Country</a></button></td>
    </tr>
  </table> 
  <br/>
  <button>
    <a href="/add_country.html">
        Add Country
    </a>
    
  </button>