<table>
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td>Fun first game!</td>
      <td><button><a href="update_game.html">Edit Game</a></button></td>
      <td><button><a href="delete_game.html">Delete Game</a></button></td>
      <td><button><a href="/display_countries.html">Countries</a></button></td>
      <td><button><a href="/display_players.html">Players</a></button></td>
      <td><button><a href="/display_languages.html">Languages</a></button></td>
    </tr>
  </table> 

  <br />
  Want to retrieve a game but can't find it? Search here.
  <div class="topnav">
    
    <input type="text" placeholder="Search..">
    <input type="submit">
  </div> 
  <br/>
  <button>
    <a href="/add_game.html">
        Add Game
    </a>
    
  </button>
