<ul>
    <p>Character Pages</p>
    <li><a href="/display_characters.html">Display Characters</a></li>
    <li><a href="/add_character.html">Add Character</a></li>
    <li><a href="/delete_character.html">Delete Character</a></li>
    <li><a href="/update_character.html">Edit Character</a></li>
</ul>

<ul>
    <p>Country Pages</p>
    <li><a href="/display_countries.html">Display Countries</a></li>
    <li><a href="/add_country.html">Add Country</a></li>
    <li><a href="/delete_country.html">Delete Country</a></li>
    <li><a href="/update_country.html">Edit Country</a></li>
</ul>

<ul>
    <p>Game Pages</p>
    <li><a href="/display_games.html">Display Games</a></li>
    <li><a href="/add_game.html">Add Game</a></li>
    <li><a href="/delete_game.html">Delete Game</a></li>
    <li><a href="/update_game.html">Edit Game</a></li>
</ul>

<ul>
    <p>Item Pages</p>
    <li><a href="/display_items.html">Display Items</a></li>
    <li><a href="/add_item.html">Add Item</a></li>
    <li><a href="/delete_item.html">Delete Item</a></li>
    <li><a href="/update_item.html">Edit Item</a></li>
</ul>

<ul>
    <p>language Pages</p>
    <li><a href="/display_languages.html">Display Languages</a></li>
    <li><a href="/add_language.html">Add Language</a></li>
    <li><a href="/delete_language.html">Delete Language</a></li>
    <li><a href="/update_language.html">Edit Language</a></li>
</ul>

<ul>
    <p>Player Pages</p>
    <li><a href="/display_players.html">Display Players</a></li>
    <li><a href="/add_player.html">Add Player</a></li>
    <li><a href="/delete_player.html">Delete Player</a></li>
    <li><a href="/update_player.html">Edit Player</a></li>
</ul>

<ul>
    <p>Translation Pages</p>
    <li><a href="/display_translations.html">Display Translations</a></li>
    <li><a href="/add_translation.html">Add Translation</a></li>
    <li><a href="/delete_translation.html">Delete Translation</a></li>
</ul>

<ul>
    <p>Language Rules Pages</p>
    <li><a href="/display_language_rules.html">Display Language Rules</a></li>
    <li><a href="/add_language_rule.html">Add Language Rules</a></li>
    <li><a href="/delete_language_rule.html">Delete Language Rules</a></li>
</ul>

<ul>
    <p>Characters Have Items</p>
    <li><a href="/display_characters_have_items.html">Display Characters Have Languages</a></li>
    <li><a href="/add_item_to_character.html">Add Item To Charactter</a></li>
    <li><a href="/delete_item_from_character.html">Delete Item From Character</a></li>
</ul>

<ul>
    <p>Characters Have Languages</p>
    <li><a href="/display_characters_have_languages.html">Display Characters Have Languages</a></li>
    <li><a href="/add_language_to_character.html">Add Language To Charactter</a></li>
    <li><a href="/delete_language_from_character.html">Delete Language From Character</a></li>
</ul>