.App {
  text-align: center;
}

body {
  margin: 1em;
  max-width: 1200px;
}

footer {
  margin: 1em;
  margin-left: 0;
}

button {
  margin: 2px;
  padding: 2px;
}

table {
  border: 1px solid black;
  margin: 1em;
  margin-left: 0;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

.small {
  font-size: 15px;
  font-style: italic;
}

/* Spinner animation. From https://loading.io/css/ or https://github.com/loadingio/css-spinner/
*/

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: rgb(0, 0, 0) transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

#navigation {

}
.nav-button {
  background-color: darkgrey;
  padding: 1em;
  border: black 1px solid;
  margin: auto;
}

.nav-button:hover {
  background-color: lightgrey;
}