{% extends "default/default.html" %}

{% block title %}Index{% endblock %}

{% block main %}
    <h1>Index Page</h1>
    <p>The following pages wil be part of the main navigation:</p>
    {% include "index/views/index_button_view.html" %}

    <p>These are likely to be condensed into other pages, but just working out basing functionality:</p>
    <p>Each of these buttons can, in turn, be included on other pages but for the purposes of the assignment we wanted to show all pages at this level of the webpage.</p>
    {% include "index/views/index_intersection_button_view.html" %}

    <p>The following is a listing of individual pages.</p>
    {% include "index/views/index_list_view.html" %}
{% endblock %}