<table>
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td>JRR Tolkien</td>
      <td><button><a href="/update_player.html">Edit Player</a></button></td>
      <td><button><a href="/delete_player.html">Delete Player</a></button></td>
    </tr>
  </table> 
  <br/>
  <button>
    <a href="/add_player.html">
        Add Player
    </a>
    
  </button>
  <button>
    <a href="/display_games.html">Back to Games</a>
  </button>
  <button>
    <a href="/display_games.html">
      Back to Games
    </a>
  </button>